# Logs
Front_end/logs
Front_end/*.log
Front_end/npm-debug.log*
Front_end/yarn-debug.log*
Front_end/yarn-error.log*
Front_end/pnpm-debug.log*
Front_end/lerna-debug.log*
Front_end/
Front_end/node_modules
Front_end/dist
Front_end/dist-ssr
Front_end/*.local
Front_end/

# Editor directories and files
Front_end/.vscode/*
Front_end/!.vscode/extensions.json
Front_end/.idea
Front_end/.DS_Store
Front_end/*.suo
Front_end/*.ntvs*
Front_end/*.njsproj
Front_end/*.sln
Front_end/*.sw?


# Logs
Back_end/logs
Back_end/*.log
Back_end/npm-debug.log*
Back_end/yarn-debug.log*
Back_end/yarn-error.log*
Back_end/pnpm-debug.log*
Back_end/lerna-debug.log*
Back_end/
Back_end/node_modules
Back_end/dist
Back_end/dist-ssr
Back_end/*.local
Back_end/

/node_modules

# Editor directories and files
Back_end/.vscode/*
Back_end/!.vscode/extensions.json
Back_end/.idea
Back_end/.DS_Store
Back_end/*.suo
Back_end/*.ntvs*
Back_end/*.njsproj
Back_end/*.sln
Back_end/*.sw?

